@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:300,400,700&display=swap');

body {
  background-color: #D1CAA1;
  font-family: 'Open Sans', sans-serif;
  color: #383B53;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: #32213A;
}

h1 {
  font-size: 32px;
  line-height: 24px
}

h2 {
  font-size: 24px;
  line-height: 16px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 8px;
}

a {
  color: #32213A;
  text-decoration: none;
}

a:hover {
  color: #7C7181;
}

.card-white {
  background-color: #D4D6B9;
  box-shadow: 1px 1px 2px grey;
  border-radius: 4px;
  padding: 28px;
  margin: 16px auto;
  text-align: center;
}

.img-circle-small {
  width: 128px;
  border-radius: 50%;
}

.btn-purple {
  background-color: #32213A;
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
  margin: 20px 20px;
}

.btn-purple:hover {
  background-color: #44354B;
  color: white;
}

.relative-up {
  position: relative;
  bottom: 8px;
}

.inline-list {
  list-style: none;
  padding: 0;
}

.inline-list li {
  display: inline;
  font-size: 64px;
  margin: 8px;
}

#intro {
  margin-bottom: 40px;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 800px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 650px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
